@model SSM_WebApplication.Models.Distributor

<div class="mx-auto w-75 p-3">
    <h4>Modification du distributeur N : @Html.DisplayFor(model => model.DistributorId)</h4>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DistributorId" />
        <div class="form-group row">
            <label asp-for="DistributorName" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input asp-for="DistributorName" class="form-control" />
                <span asp-validation-for="DistributorName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DistributorDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input asp-for="DistributorDescription" class="form-control" />
                <span asp-validation-for="DistributorDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FuelId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="FuelId" class="form-control" asp-items="ViewBag.FuelName"></select>
                <span asp-validation-for="FuelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PumpId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="PumpId" class="form-control" asp-items="ViewBag.PumpName"></select>
                <span asp-validation-for="PumpId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Status" />Active
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
            <a asp-action="List">Retour</a>
        </div>
</form>
</div>