@model SSM_WebApplication.Models.Pump

<div class="mx-auto w-75 p-3">
    <h3>Est-vous sure de bien vouloir suprimé : </h3>
    <div>
        <h4>Pompe</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                Numéro
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PumpId)
            </dd>
            <dt class="col-sm-3">
                Nom
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PumpName)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="PumpId" />
            <input type="submit" value="Suprimé" class="btn btn-danger" /> |
            <a asp-action="List">Retour</a>
        </form>
    </div>
</div>