@model Fuel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <h2>
            <a>@Model.FuelName</a>
        </h2>
        <div class="caption-full">
            <p>@Model.FuelName</p>
        </div>
    </div>
</div>